.header a{
	text-decoration: none;
	color : #E91213;
}
.header { 
	text-align: center;
	border-bottom: 2px solid #E91213;
}
.navbar {
	margin: 0 auto;
	width:1000px;
	display:inline-flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	color : #E91213;
}
.nav_menu{
	display : flex;
	list-style: none;
	padding-left: 0;
}
.nav_menu li {
	padding : 8px 12px;
}
.searchbox{
	font-size: 20px;
	border-color: #E91213;
	border-radius: 3px;
	width: 400px;
	height: 40px;
	vertical-align: middle;
}