@charset "utf-8";

/* 리셋 */
* {margin: 0; padding: 0;}

/* 전체 레이아웃 */
#wrap {font-size: 15px; color: #000000; text-align: center;}
#header {height: 100px;}
#contents {height: 1200;}
#footer {height: 250px;}

/* 레이아웃 */
#header {height: 100px; line-height: 70px; background: #000000;}
#content1 {height: 400px; line-height: 90px; background-color: #26c6da;}
#content2 {height: 400px; line-height: 480px; background-color: #00bcd4}
#content3 {height: 400px; line-height: 380px; background-color: #00acc1;}
#footer {height: 250px; line-height: 60px; background-color: #f0f0f0;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}




/* header  */
.header { 
		text-align: center;
		border-bottom: 2px solid #E91213;
}
.navbar{
	background:#FFFFFF;
	position: fixed; top: 0;  width: 100%;   /* 스크롤 내려도 상단바 고정하기 */
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	color : #E91213;
}
.navbar_logo{ margin-left:50px; }

.nav_menu{
			display : flex;
			list-style: none;
			padding-left: 0;
			margin-right:50px;
		}
.nav_menu li {
			padding : 8px 12px;
		}
.searchbox{
			font-size: 20px;
			border-color: #E91213;
			border-radius: 3px;
			width: 400px;
			height: 40px;
			vertical-align: middle;}





/*footer*/
.footer-info {font-size:12px; font-color:#000000; text-align:left;}